body{
text-align: center;
background-color: #EEEEEE;
}

.autopost{
display: inline-block;
text-align: center;
width: 80%;
background-color: white;
box-shadow: 3px 3px 5px #BDBDBD;
border-top: 1px solid #BDBDBD;
border-left: 1px solid #BDBDBD;
}