body{
    text-align: center;
    background-color: #FAFAFA;
}

h1{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

.autopost{
    margin:auto;
    margin-top:5px;
    display: inline-block;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 5px #BDBDBD;
    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;
}

.autopost:hover{
    cursor:pointer;
    background-color:#e3f2fd;
}

#titlebar {
	text-align:left;
    background-color: #607D8B;
    position:fixed;
    top:0;
    width: 100%;
	left:0;
    z-index:100;
	margin:auto;
	color:white;
}

#titleheader{
  margin-left:50px;
}

#titlespacer{
	text-align:left;
    background-color: #e3f2fd;
    top:0;
    width: 100%;
	left:0;
	margin:auto;
}

#oneliner{
  margin-left:50px;
}